@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800;900&display=swap');

*,
body {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #101011 !important;
  font-size: 0.9rem;
}

div#main-container {
  padding-top: 3rem;
}
h1 {
  font-size: 2.2rem;
  color: aliceblue;
  font-weight: 900 !important;
}

p {
  color: rgba(240, 248, 255, 0.651);
  font-weight: 200 !important;
  letter-spacing: 1px;
  font-style: italic;
}

div,
input.input-group {
  cursor: pointer;
}

input {
  background-color: #101011 !important;
  cursor: pointer;
}

button.input-group-text {
  background-color: #101011 !important;
}

button i {
  color: aliceblue;
}

button:focus {
  box-shadow: none !important;
}

input::placeholder {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: aliceblue !important;
}

input.form-control:focus {
  color: aliceblue;
  box-shadow: none !important;
}

div > p.list-group-item {
  font-style: italic;
  color: rgb(158, 158, 158);
  font-size: 15px;
  font-weight: 400 !important;
  letter-spacing: 1px;
}

.todo-container {
  display: flex;
  flex-direction: column;
}

.todo {
  transition: all 0.5s ease;
}

.completed {
  text-decoration: rgb(29, 29, 29) line-through;
  opacity: 0.2;
}

.fall-off {
  transform: translateY(200px);
  opacity: 0;
}

li.list-group-item {
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid aliceblue !important;
  list-style: none;
  color: aliceblue;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

select.form-select {
  padding: 9px;
  letter-spacing: 1px;
  background-color: #101011 !important;
  font-size: 0.75rem;
  color: aliceblue !important;
  box-shadow: none !important;
  cursor: pointer;
}
