@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800;900&display=swap');

:root {
  --color-primary: #3e8cf1;
  --color-white: #fff;
  --color-bg-white: #fcfcfc;
  --text-color-dark: #151416;
  --text-color-gray: #7a7a7a;
  --modal-overlay-bg: rgba(0, 0, 0, 0.65);
}

*,
body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0 10px;
  background-color: var(--text-color-dark) !important;
  font-size: 0.9rem;
}

h1 {
  font-size: 2.2rem;
  color: var(--color-primary);
}

p {
  color: var(--text-color-gray);
  letter-spacing: 1px;
}

div,
input.input-group {
  cursor: pointer;
}

input {
  height: 43px;
  background-color: var(--color-white) !important;
  cursor: pointer;
}

button.input-group-text {
  background-color: var(--color-primary) !important;
  border: 1px solid var(--color-primary) !important;
}

button i {
  color: var(--color-bg-white);
}

button:focus {
  box-shadow: none !important;
}

input::placeholder {
  font-size: 0.9rem;
  color: var(--text-color-gray) !important;
}

input.form-control:focus {
  color: var(--text-color-dark) !important;
  font-size: 0.9rem;
  box-shadow: none !important;
}

.todo {
  transition: all 0.5s ease;
}

.completed {
  text-decoration: var(--text-color-gray) line-through;
  opacity: 0.75;
}

.fall-off {
  transform: translateY(25px);
  opacity: 0;
}

li.list-group-item {
  margin: 10px 0;
  background-color: var(--color-white)!important;
  list-style: none;
  color: var(--text-color-dark);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

select.form-select {
  height: 43px;
  padding: 9px;
  letter-spacing: 1px;
  background-color: var(--color-white) !important;
  font-size: 0.9rem;
  color: var(--text-color-dark) !important;
  box-shadow: none !important;
  cursor: pointer;
}

.close-btn{
  background-color: var(--color-primary) !important;
}

.btn-styles {
  background-color: var(--color-primary) !important;
  color: var(--color-bg-white) !important;
  padding: 8px 10px !important;
}

h6{
  color: var(--text-color-dark);
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.modal-overlay {
  background-color: var(--modal-overlay-bg);
}

.modal-content {
  margin-top: 10rem;
}
